@{ ViewData["Title"] = "Home Page"; }
@model Upload


    <div class="text-center">

        <h1> There was an error uploading the file! </h1>
        <h4> Please try again, or contact the web admin. </h4>

        
    </div>
